body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
   background-color: rgb(234, 235, 236);
   
    
}
.top-head{
    display: flex;
    padding-bottom: 100px;
  
}
#top-header-color{
    background-color:#f3f2f7;
}
.head{
    width: 50%;
    padding-left: 5%;
}
.font-header{
    font-size: 55px;
}
.font-header-medium{
    font-size: 35px;
    margin-top: 5px ;
}
.orange-color{
    color: darkorange;

}
.red-color{
    color: darkred;

}
.blue-color{
    color: deepskyblue;

}
.link-button{
    background-image: linear-gradient(#1a73f8,#c7cdec);
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
  
    text-decoration: none;
}

.flex-box{
    box-shadow: 10px 1px 40px grey;
    margin-left: 2%;
    margin-right: 2%;
    padding: left 3%;
    border-left: 10px solid blue;
    border-radius: 10px;
    width: 60%;
    background-color: rgb(220, 228, 243);
}
#box-header{
    text-align: center;
    padding-bottom: 15px;
    font-size: 60px;
}
#border-red{ border-left: 10px solid red;

}
#border-orange{ 
    border-left: 10px solid orange;

}
.flex-item-box{
    text-align: left;


} 
.next-section{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(234, 235, 236);
}